* {
 margin:0;
 padding:0;
 }


body {
	background-color: white;
	color: black;
	font-family: helvetica;
	padding: none;
	margin: none;
}






header {
	display: none;

}


.FirstPage {
	height: 100vh;
	display: inline-block;
}

.FirstPage img {
	margin-top: 30px;
}

.presentation {
	text-align: center;
	/width: 500px;
	margin: 0 auto;
}

.presentation p {
	margin: 55px 30px 0px 30px;
	font-size: .9em;
}

h1 {
	font-size: 8em;
}

svg {
	margin-top: 50px;
}
.boutons a {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
}
.boutons a img {
	width: 60px;
	margin: 5px;
}

.moi {
	display: inline-block;
	width: 50%;
	bottom: 0;
	position: absolute;
	margin-left: 0: 
}

.down {
	display: inline-block;
	bottom: 0;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	text-align: center;
	z-index: 3;
	font-size: 1em;
	margin-top: -100px;

}

.down img {
	width: 50px;
}

.boutons {
	text-align: center;
}


section {
	    margin-top: 50px;

}

footer {
	height: 40px;
	background-color: black;
	color: white;	
	margin: 0 auto;
	text-align:  center;
	font-family: helvetica;
	padding: 5px;
}

footer p{
	color: white;
	text-align:  center;
	font-family: helvetica;
	font-size: .7em;
	margin-top: 10px;

}

.i {
	display: block;
}

.i1 {
	margin-top: 0px;
}

.i4 {
	height: inherit;
}

@media screen and (min-width: 900px) {


	.moi {
		width: 40%;
		margin-top: 160px;
	}
	.presentation {
		width: 50%;
		float: right;
		margin-top: 70px;
	}

	.presentation p {
		margin: 55px 30px 0px 30px;
		font-size: 1.3em;
	}

	.boutons {
		position: absolute;
		right: 20px;
		top: 0;
	}

	/*.down {
		position: relative;
		left: 50%;
		margin-top: -130px;
		text-align: center;
		font-size: 1.5em;
		z-index: 2;

}*/

	.down img {
		width: 100px;
	}
	


	footer p {
		font-size: 1.3em;
	}
	
}

@media screen and (min-width: 450px) {


	.moi {
		width: 40%;
	}

	@media screen and (min-width: 550px) {


	.moi {
		width: 30%;
	}

		@media screen and (max-width: 730px) {


	.moi {
		width: 30%;
	}

	@media screen and (max-width: 900px) {

			.moi { 
				width: 40%;
			}
