body {
	background-color: white;
	color: black;
	font-family: helvetica;
	font-size: 25px;
}

.container {
	margin: 0 auto;
	margin-top: 70px;
	text-align: left;
	
	
}

.back {
	position: absolute;
	width: 70px;
	margin-top: 30px;
	margin-left: 30px;
}

.baniere {
	width: 100%;
	
	

	
}


  p {
	top:144px;
	width: 70%;
	margin: auto;

}

.illus {
	text-align: center;
	margin-top: 80px;
	letter-spacing: 40px;

}

.illus img {
	margin-bottom: 40px;
	height: 600px;
}


	
@media screen and (max-width: 800px) {

	.illus img{
		height: auto;
		width: 90%;
		font-size: 16px;
	}

	p {
		margin: auto;
		

	}




